.container{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  background-color: #F1F2EE
}
.d-forms{
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;  
}
.login-form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:static;
}
.form-field{
  margin: 10px;
  padding: 5px;
  width: 30vw;
  height: 5vh;
  background-color: #FAFDF6;
  font-size: 1em;
  font-weight: 500;
  font-family: 'poppins';
  color: #171219;
  border-radius: 7px;
  border: #FAFDF6;
  display: inline-block;
}
.form-error{
  display: block;
  color: #ed4337;
  margin-bottom: 20px;
  padding-left: 15px;
  font-family: 'poppins';
  font-weight: 500;
  font-size: 1.2em;
}
.login{
  color: #F1F2EE;
}
.login:hover{
  color: #848C8E;
}
.button{
  width: 30vw;
  height: 8vh;
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'poppins';
  font-style: italic;
  color: #FAFDF6;
  background-color: #252627;
  border: #252627;
  border-radius: 5px;
  
}
.record{
  margin-top: 70px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit{
  font-size: 2em;
  font-family: 'poppins';
  font-weight: 200;
  color: #252627;
  margin-top: 20px;
}


.af-stp{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin: 10px;
}
.imgbg{
  height: 150px;

}
.ent-acess{
  font-size: 2.5rem;
  font-weight: 500;
  font-family: 'poppins';
  color:#252627;
  margin-left: 10px;
  letter-spacing: 1px;
}





.bg-img{
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.lg-af{
  width: 100%;
  height: 100%;
  
}